- name: Set up JDK 17
  uses: actions/setup-java@v4
  with:
    distribution: temurin
    java-version: 17

- name: Set up Android SDK
  uses: android-actions/setup-android@v3
  with:
    cmdline-tools-version: latest
    accept-android-sdk-licenses: true
    packages: |
      platforms;android-30
      build-tools;30.0.3