name: Android Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Fix Gradle wrapper permissions
        run: |
          chmod +x gradlew
          chmod 755 gradle/wrapper/gradle-wrapper.jar

      - name: Build APKs
        run: |
          bash ./gradlew :SmartCalc:app:assembleDebug
          bash ./gradlew :SmartCalc:app:assembleRelease

      - name: Upload APKs
        uses: actions/upload-artifact@v4
        with:
          name: SmartCalc-APKs
          path: SmartCalc/SmartCalc/app/build/outputs/apk/**/*.apk
